@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

@layer utilities {
  .bg-hero {
    background-image: url("/blue_bg.jpg");
    background-size: cover;
    background-position: center;
  }

  .home-pointer {
    cursor: none; /* Hide default cursor */
  }
  /* Hide default cursor on interactive elements */
  .home-pointer a,
  .home-pointer button,
  .home-pointer input,
  .home-pointer textarea,
  .home-pointer select {
    cursor: none;
  }
}
